{% extends 'base.html.twig' %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/styles/app.css">
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
    <section class="my-8">
        App locale: <span class="text-red-600">{{ app.request.locale }}</span>
    </section>
    <div>
        Paramètres:
        <ul>
            {% for name, param in app.request.query.all %}
                <li>
                    {{ name }}: {{ param }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <section>
        {% set content %}
        # Hello
        - point 1
        - point 2
        {% endset %}
        {{ content | markdown_to_html() }}
    </section>
{% endblock %}
